*, *::before, *::after {
  font-family: monospace;
  margin: 0;
  padding: 0;
}
body, html {
  background: linear-gradient(#BD5863, 20%, #92A35A);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 0 2vw 0 2vw;
}
.center {
  text-align: center;
}
.shadow {
  filter: drop-shadow(3px 3px 3px #000);
}
.title {
 font-size: 3rem;
 font-weight: lighter;
 color: #FFF;
 background: linear-gradient(#92A35A, 20%, #1A200F);
 margin-top: 3vh;
 padding: 1vh;
 border: 1vh solid #92A35A;
}
.description {
  font-size: 2rem;
  background: #92A35A;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
}

.input-button {
  background: #BD5863;
  border: 1vh solid #BD5863;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
}
.name-input {
  min-width: 60vw;
  min-height: 6vh;
  font-size: 3rem;
  border: none;
  text-align: center;
}
.submit-button {
  min-width: 30vw;
  min-height: 4vh;
  font-size: 2rem;
  border: none;
  background: #F9B989;
  filter: drop-shadow(3px 3px 3px #000);
  margin-bottom: 2px;
}
.submit-button:hover {
  cursor: pointer;
  border: solid 2px #03B64D;
}
.reset {
  min-width: 30vw;
  min-height: 4vh;
  font-size: 2rem;
  border: none;
  background: #FC7860;
  filter: drop-shadow(3px 3px 3px #000);
}
.reset:hover {
  cursor: pointer;
  border: solid 2px #03B64D;
}
.output {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}
.frog-name {
 min-height: 13vh;
 font-size: 6rem;
 padding-top: 2vh;
 background: #000;
 color: #C1D3A4;
 margin-bottom: 2vh;
}
.frog-img {
  min-height: 30vh;
  min-width: 30vh;
  border: 1vh solid #BD5863;
  align-self: end;
  filter: drop-shadow(2px 2px 2px #000);
  background: #92A35A;
}
